.container {
  margin: 50px  100px;
}

.tabs-title{
  display: flex;
  justify-content: left;
}

a {
  width: 120px;
  padding: 10px;
  border: solid 1px darkgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration:none;
  text-align: center;
}

.tabs-body{
  border: solid 1px darkgrey;
}
